body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.tableauEditor-container .tableau {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.tableauEditor-container .formula {
	display: block;
	border-top: 0.5px solid transparent;
	min-width: 100%;
	width: max-content;
}

.tableauEditor-container .beta {
	min-width: 100%;
}

.tableauEditor-container .formula > .beta {
	display: inline-flex;
}

.tableauEditor-container .beta > .formula {
	display: inline-block;
	min-width: 20px;
	flex-grow: 1;
	border-top: 0.5px solid black;
	border-left: 0.5px solid black;
	padding-left: 2.25px;
}
.tableauEditor-container .beta > .formula:first-child {
	border-left: none;
	padding-left: 0;
	padding-right: 2.25px;
}

.tableauEditor-container .inputGroup {
	display: flex;
	font-size: .75rem;
	align-items: baseline;
	margin-bottom: 0.125em;
	margin-bottom: 0.125rem;
}

.tableauEditor-container .formulaId {
	width: 0.625em;
}

.tableauEditor-container .textInput {
	text-align: center;
	background-color: inherit;
	font-size: .75rem;
	border: 0;
	outline: 0;
	padding-bottom: 1px;
	border-bottom: 1px dashed lightgray;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.tableauEditor-container .textInput:focus {
	background-color: rgba(0, 0, 0, 0.05);
	padding-bottom: 0;
	border-bottom: 2px solid #16a;
}
  
.tableauEditor-container .textInput:hover {
	background-color: rgba(0, 0, 0, 0.075);
	border-bottom-style: solid;
}
  
.tableauEditor-container .textInput:active {
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom-style: solid;
}
  
.tableauEditor-container .textInputFormula, .tableauEditor-container .textInputFormulaWithSubst {
	flex-grow: 1;
	/* width: calc(100% - 5rem); */
}

.tableauEditor-container .textInputFormulaWithSubst {
	/* width: calc(100% - 11.25rem); */
}

.tableauEditor-container .textInputVariable, .tableauEditor-container .textInputTerm, .tableauEditor-container .textInputReference {
	flex: none;
	min-width: 1rem;
}

.tableauEditor-container .expandControls {
	text-align: center;
	margin-bottom: 0.125em;
	margin-bottom: 0.125rem;
}

.tableauEditor-container .actions button {
	margin: 0 0.5em;
}

.tableauEditor-container .actions {
	display: flex;
	justify-content: flex-end;
}

.tableauEditor-container .problems {
	max-width: 97%;
}

.tableauEditor-container .button, .tableauEditor-container .onclick-menu:before {
	padding: 2px 10px;
	background-color: #fff;
	border-radius: 20px;
	border: thin solid lightgray;
	font-size: .75rem;
}
.tableauEditor-container .button:focus, .tableauEditor-container .onclick-menu:focus:before {
	background-color: rgba(0, 0, 0, 0.05);
	border-color: #16a;
}
.tableauEditor-container .button:hover, .tableauEditor-container .onclick-menu:hover:before {
	background-color: rgba(0, 0, 0, 0.075);
	border-color: #ccc;
}
.tableauEditor-container .onclick-menu-content button:hover, .tableauEditor-container .onclick-menu-content button:focus {
	background-color: rgba(0, 0, 0, 0.075);
}
.tableauEditor-container .button.active {
	background-color: rgba(0, 0, 0, 0.1);
	border-color: #bbb;
}
.tableauEditor-container .button:active, .tableauEditor-container .onclick-menu:active:before {
	background-color: rgba(0, 0, 0, 0.1);
	border-color: #16a;
}
.tableauEditor-container .onclick-menu-content button:active {
	color: white;
	background-color: #16a;
}

.tableauEditor-container .closed {
	min-width: 17px;
}

.tableauEditor-container .nodeProblems {
	text-align: center;
	color: hsl(36, 100%, 40%);
	font: small-caption;
	font-weight: bold;
	font-size: .75rem;
}

.tableauEditor-container .nodeProblemsText {
	display: block;
}

/*custom menu component start*/
/* The necessities */
.tableauEditor-container .onclick-menu {
	position: relative;
	display: inline-block;
}

.tableauEditor-container .onclick-menu.del:before {
	content: "Delete ▾";
}

.tableauEditor-container .onclick-menu.change:before {
	content: "▾";
}
.tableauEditor-container .onclick-menu.change .onclick-menu-content {
	left: auto;
	right: -2em;
}

.tableauEditor-container .onclick-menu.add:before {
	content: "Add ▾";
	margin-left: 5px;
}

.tableauEditor-container .onclick-menu:focus {
	pointer-events: none;
}

.tableauEditor-container .onclick-menu:focus .onclick-menu-content {
	opacity: 1;
	visibility: visible;
}

.tableauEditor-container .onclick-menu-content {
	pointer-events: auto;
	position: absolute;
	z-index: 1;

	opacity: 0;
	visibility: hidden;
	transition: visibility 0.25s, opacity 0.1s;
	left: -1em;
}

.tableauEditor-container .onclick-menu.no-pointer-events {
	pointer-events: auto !important;
}

.tableauEditor-container .onclick-menu.no-visibility .onclick-menu-content {
	visibility: visible !important;
	display: none;
}

.tableauEditor-container .onclick-menu.no-visibility:focus .onclick-menu-content {
	display: block;
}

.tableauEditor-container .onclick-menu.no-opacity .onclick-menu-content {
	opacity: 1 !important;
}

/*
Eye candy
( colors courtesy of https://kuler.adobe.com/try-color-theme-3350110 )
*/
.tableauEditor-container .onclick-menu {
	font: caption-small;
	font: 400 11px system-ui;
	font: -moz-button;
	padding: 0;
	margin: 0;
	outline: 0;
	margin-right: 0.3em;
	text-align: left;
}
.tableauEditor-container .onclick-menu-content {
	background-color:white /* #364656 */;
	width: auto;

	margin-top: 5px;
	margin-left: 0;
	padding: .25em 0;
	border-radius: .25em;
	border: thin solid lightgray;
}

/* arrow for the expanding part */
/*.tableauEditor-container .onclick-menu-content:before {
	content: "";
	width: 0;
	height: 0;

	border-bottom: 10px solid #364656;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	position: absolute;
	top: -10px;
}*/

.tableauEditor-container .onclick-menu-content li {
	color: black /* #f2f5e9 */;
	list-style-type: none;
	white-space: nowrap;
}

/* style the buttons */
.tableauEditor-container .onclick-menu-content button {
	background: transparent;
	border: none;
	color: inherit;
	cursor: inherit;
	outline: 0;
	cursor: pointer;
	line-height: 2em;
	padding: 0 2em;
	font-size: .75rem;
	width: 100%;
	text-align: left;
}
/*.onclick-menu-content button:hover {
	background-color: hsl(210, 20%, 45%);
	color: #ff8c31;
}*/

/*custom menu component end*/

.tableauEditor-container .actions #importJson {
	display: none;
}

/** delete button */
.tableauEditor-container button.delete {
	padding: 0 0.3em;
	border: thin solid lightgray;
	background-color: inherit;
	color: gray;
}

.tableauEditor-container .premise {
	background-color: #ddeeff;
}
.tableauEditor-container .premise:focus.textInput {
	background-color: #d2e8ff;
}
.tableauEditor-container .premise:hover.textInput {
	background-color: #c7e3ff;
}
.tableauEditor-container .premise:active.textInput {
	background-color: #bddeff;
}

.tableauEditor-container .syntaxProblem {
	background: rgb(255, 182, 193, 0.333);
}
.tableauEditor-container .semanticsProblem {
	background: rgba(255,211,131,0.333);
}
.tableauEditor-container .syntaxProblem:focus.textInput {
	background: rgb(255, 182, 193, 0.5);
}
.tableauEditor-container .semanticsProblem:focus.textInput {
	background: rgba(255,211,131,0.5);
}
.tableauEditor-container .syntaxProblem:hover.textInput {
	background: rgb(255, 182, 193, 0.667);
}
.tableauEditor-container .semanticsProblem:hover.textInput {
	background: rgba(255,211,131,0.667);
}
.tableauEditor-container .syntaxProblem:active.textInput {
	background: rgb(255, 182, 193, 0.833);
}
.tableauEditor-container .semanticsProblem:active.textInput {
	background: rgba(255,211,131,0.833);
}
.tableauEditor-container .syntaxProblem.textInput {
	border-bottom-color: #a12;
}
.tableauEditor-container .semanticsProblem.textInput {
	border-bottom-color: #c82;
}
  
.tableauEditor-container .jsonImportError {
	color: #ff8c31;
	font-size: 14px;
	display: flex;
	justify-content: center;
}

.tableauEditor-container .rulesHelp {
	font-size: smaller;
}
.tableauEditor-container .rulesHelp:after {
	content: ' ';
	display: block;
	clear: both;
	height: 0;
}

.tableauEditor-container .rulesHelp .rule {
	display: inline-table;
	border-collapse: collapse;
	margin: 0.5em;
	text-align: center;
	vertical-align: baseline;
}

.tableauEditor-container .rulesHelp .rule td, .tableauEditor-container .rulesHelp .rule th {
	border: initial;
	padding: .125em;
}

.tableauEditor-container .rulesHelp .rule td {
	border-left: .5px solid black;
}

.tableauEditor-container .rulesHelp .rule td:first-child {
	border-left: none;
}

.tableauEditor-container .rulesHelp .rule tr:first-child {
	border-bottom: .5px solid black;
}

.tableauEditor-container .rulesHelpTable {
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}

.tableauEditor-container .rulesHelpTable th, .tableauEditor-container .rulesHelpTable td {
	text-align: center;
	padding: .25em 0px;
	border-bottom: 1px solid #ddd;
	max-width: 400px;
}

.tableauEditor-container .symbols > p {
	margin: 0px;
}

.tableauEditor-container .rulesHelpTable tr:nth-child(even){background-color: #def}

.tableauEditor-container .rulesHelpTable th {
	background-color: #6193a2;
	color: white;
	padding: 2px;
}

.tableauEditor-container .rulesHelpTable .formula {
	text-align: center;
	display: inline-block;
	width: initial;
	min-width: initial;
}

.tableauEditor-container .rulesHelp > h2 {
	padding: 0 10px;
}
.tableauEditor-container .half {
	width: 50%;
	float: left;
	padding: 0 0.5rem 0 0;
	box-sizing: border-box;
}
.tableauEditor-container .half + .half {
	padding: 0 0 0 0.5rem;
}
.tableauEditor-container .full {
	clear: left;
	width: 100%;
	float: left;
	box-sizing: border-box;
}

@media only screen and (max-width: 1180px) {
	.tableauEditor-container .half {
		width:100%;
		padding: 0;
	}
}

/**
 * Print style.
 * Hide everything except the tableau.
 */

@media print {
	.tableauEditor-container > div > *:not(.formula):not(.verdict):not(.problems),
	.tableauEditor-container .onclick-menu, .tableauEditor-container .nodeProblems, .tableauEditor-container .button
	{
		display: none;
	}
	.tableauEditor-container .tableauEditor-container .closed {
		display: inline-block;
	}
	.tableauEditor-container .textInput {
		border-bottom: none;
	}
	.tableauEditor-container .textInput.syntaxProblem, .textInput.semanticsProblem {
		border-bottom-style: dashed;
		border-bottom-width: 1px;
	}
	/* Print color backgrounds for webkit browsers */
	.tableauEditor-container {
		-webkit-print-color-adjust: exact;
	}
}

/* vim: set sw=2 ts=2 sts=2 et : */


.tableauEditor-container .rulesHelp {
	display: none;
  }